.home {
    background: rgb(20,255,82);
background: linear-gradient(336deg, rgba(20,255,82,0.6085784655659139) 0%, rgba(255,255,255,1) 54%, rgba(20,255,82,0.5665616588432247) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}
.home .container .sidebar {
    flex: 1;
    background-color: #f9f9fb;
    position: relative;
    color: black;
    border: rgb(201, 194, 194) 1px solid;
}
.home .container .sidebar .navbar {
    align-items: center;
    background-color: #00a261;
    height: 3rem;
    padding: 1rem;
    justify-content: space-between;
    color: #ffffff;
    flex-direction: column;
}
.home .container .sidebar .navbar .logo {
    font-weight: bold;
}
.home .container .sidebar .navbar .user {
    display: flex;
    gap: 0.7rem;
}
.home .container .sidebar .navbar .user img {
    background-color: #ddddf7;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    object-fit: cover;
}
.home .container .sidebar .navbar .user button {
    background-color: #049a5e00;
    color: #ddddf7;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.home .container .sidebar .search {
    border-bottom: 1px solid gray;
}
.home .container .sidebar .search .searchForm {
    padding: 0.8rem;
}
.home .container .sidebar .search .searchForm input {
    width: 70%;
    background-color: transparent;
    border: none;
    color: rgb(1, 1, 1);
    outline: none;
}
.home .container .sidebar .search .searchForm input::placeholder {
    color: lightgray;
}
.chats
{   height: 100%;
    overflow:scroll;
    white-space: nowrap;
}
.home .container .sidebar .userChat {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.home .container .sidebar .userChat:hover {
    background-color: #e1e1e69e;
}
.home .container .sidebar .userChat img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.home .container .sidebar .userChat .userChatInfo span {
    font-size: 1.1rem;
    font-weight: 500;

}
.home .container .sidebar .userChat .userChatInfo p {
    
    margin: 0.8rem 0;
    font-size: 1rem;
    color: lightgray;
}
.home .container .chat {
    flex: 2;
}
.home .container .chat .chatInfo {
    height: 3rem;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1.1rem;
    color: lightgray;
}
.home .container .chat .chatIcons {
    display: flex;
    gap: 1rem;
    padding-left: 0.5rem;
}
.home .container .chat .chatIcons img {
    height: 1.5rem;
    cursor: pointer;
}
.home .container .chat .messages {
    background-image: url("../img/whatsapp\ bg.jpg");
    padding: 0.5rem;
    height: calc(100% - 160px);
    overflow: scroll;
}
.home .container .chat .messages .message {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.home .container .chat .messages .message .messageInfo {
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}
.home .container .chat .messages .message .messageInfo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.home .container .chat .messages .message .messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home .container .chat .messages .message .messageContent p {
    background-color: white;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
}
.home .container .chat .messages .message .messageContent img {
    width: 50%;
}
.home .container .chat .messages .message.owner {
    flex-direction: row-reverse;
}
.home .container .chat .messages .message.owner .messageContent {
    align-items: flex-end;
}
.home .container .chat .messages .message.owner .messageContent p {
    background-color: #8da4f1;
    color: white;
    border-radius: 10px 0px 10px 10px;
}
.home .container .chat .input {
    height: 40px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .container .chat .input input {
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 18px;
}
.home .container .chat .input input::placeholder {
    color: lightgray;
}
.home .container .chat .input .send {
    display: flex;
    align-items: center;
    gap: 10px;
}
.home .container .chat .input .send img {
    height: 24px;
    cursor: pointer;
}
.home .container .chat .input .send   {
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: white;

    cursor: pointer;
}
.home .container .chat .input .send div img{
    padding: 15px 0px;
}

@media only screen and (max-width: 768px) {
    
    .home .container {
       
        width: 100%;
        height: 80%;
    }

    .home .container .sidebar .userChat img{
        width: 3rem;
        height: 3rem;
    }

    .home .container .sidebar .userChat {
        padding: 0.2rem;
        gap: 0.5rem;
        
    }
    .home .container .sidebar .userChat .userChatInfo span{
        font-size: 0.9rem;
    }

    .home .container .sidebar .navbar{
        padding: 1rem 0.5rem;
    } 
    .home .container .sidebar .navbar .user{
        gap: 0.2rem;
    }
    

    
 }
 @media only screen and (max-width: 992px) {
 
    
 }

 .searchbutton{
    position: absolute;
    right: 0%;
    padding: 0;
    padding-right: 0.5rem;
 }
 